@media screen and (max-width: 600px) {
  .header-container {
    max-width: 90%;
  }
  .main-container {
    max-width: 90%;
  }
  .nav-menu-icon {
    display: block;
  }
  .nav-logo img {
    width: 28px;
  }
  .nav-logo h1 {
    font-size: 21px;
  }
  .nav-category {
    display: none;
  }
  .banner {
    padding: 32px 24px;
  }
  .find-container {
    flex-direction: column;
  }
  .tours-img {
    width: 100%;
  }
  .tours-img > img {
    width: 100%;
  }
  .tours-content > h1 {
    font-size: 25px;
  }
  .tours-content {
    width: 100%;
  }
  .tours-section {
    flex-direction: column;
  }
  .card-3 {
    grid-column: span 1;
    width: 100%;
  }
  .whyChooseUs-card {
    grid-template-columns: repeat(1, 1fr);
  }
  .whyChooseUs-title-desc > h1,
  .destination-content > h1 {
    font-size: 20px;
  }
  .destination-img > div {
    width: 100%;
  }
  .destination-img > div > img {
    width: 100%;
    object-fit: cover;
  }
  .extra-section-card{
   flex-direction: column;
}
.extra-section>h1{
    font-size: 30px;
}
}
