@media screen and (max-width: 600px) {
  .tours-section,
  .whyChooseUs-section,
  .deals-section,
  .newsletter-section {
    margin: 40px 0;
  }
  .header-container {
    max-width: 90%;
  }
  .main-container {
    max-width: 90%;
  }
  .nav-logo img {
    width: 28px;
  }
  .footer-logo img {
    width: 28px;
  }
  .nav-logo h1 {
    font-size: 21px;
  }
  .footer-logo h1 {
    font-size: 21px;
  }
  .nav-menu-icon {
    display: block;
  }
  .nav-category {
    display: none;
  }
  .banner {
    padding: 32px 24px;
  }
  .find-container {
    flex-direction: column;
  }
  .tours-img {
    width: 100%;
  }
  .tours-img > img {
    width: 100%;
  }
  .tours-content > h1 {
    font-size: 25px;
  }
  .tours-content {
    width: 100%;
  }
  .tours-section {
    flex-direction: column;
    gap: 24px;
  }
  .card-3 {
    grid-column: span 1;
    width: 100%;
  }
  .whyChooseUs-card {
    grid-template-columns: repeat(1, 1fr);
  }
  .whyChooseUs-title-desc > h1,
  .destination-content > h1 {
    font-size: 20px;
  }
  .destination-img > div {
    width: 100%;
  }
  .destination-img > div > img {
    width: 100%;
    object-fit: cover;
  }
  .extra-section-card {
    flex-direction: column;
  }
  .extra-section > h1 {
    font-size: 30px;
  }
  .deals-section > h1 {
    font-size: 24px;
  }
  .deals-banner-1,
  .deals-banner-2,
  .deals-banner-3 {
    padding: 24px;
  }
  .card-right {
    margin-left: 0;
  }
  .deals-banner-card {
    margin-top: 40%;
    padding: 24px;
  }
  .deals-banner-card > p > span {
    display: none;
  }
  .perfectPlace-section {
    flex-direction: column;
  }
  .perfectPlace-content {
    width: 100%;
  }
  .perfectPlace-video {
    width: 100%;
  }
  .perfectPlace-content > h1 {
    font-size: 24px;
  }
  .newsletter-section {
    flex-direction: column;
  }
  .newsletter-img > div > h1 {
    font-size: 20px;
  }
  .footer-section {
    padding: 20px;
  }
}
